* {
  box-sizing: border-box;
}
.container-slider {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff, 0 15px 50px;
  position: relative;
}
.slider {
  display: flex;
  width: 300%;
  height: 400px;
  margin-left: -100%;
  cursor: pointer;
}
.slider_section {
  width: 100%;
}
.slider_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.808);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.slider_btn:hover {
  background: #fff;
}
.slider_btn-left {
  left: 10px;
}
.slider_btn-right {
  right: 10px;
}
.text-section {
  background: rgba(10, 46, 3, 0.329);
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px 60px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  font-weight: 500;
}
