.adminContenedor{
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: block; 
       
}

.formsAdminExterno{
    width: 100%;
    margin: auto;
    padding-bottom: 30px;  
    margin-bottom: 50px;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px;
    /* display: block; */
    
}

.productoAdmin{
    align-items: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border: 1px rgba(145, 145, 151, 0.397) solid;
    border-radius: 4px;
}


.levelAdminMaterial{ 
    width: 400px;
}
.levelAdminMaterial Select{
    width: 400px;
}

.levelAdminMaterialEdit{
    width: 150px;
}

.levelAdminMaterialEdit Select{
    width: 150px;
}

.levelAdminMaterialUser{
    width: 210px;
}
.levelAdminMaterial Select{
    width: 210px;
}

.labelAdminButtons{
    align-items: center;
}
.buttonAdmin{
    background-color: #4da45f;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    align-self: flex-start;
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 10px;
    margin-right: 10px;
}
.buttonAdmin:hover{
    background-color: #306d3c;
    border: 0.5px rgba(168, 162, 162, 0.418) solid; 
}

.editarProductos{
    display: block;
    border: rgba(97, 93, 93, 0.301) 1px solid;
    border-radius: 4px;
    height: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}
.editarProductos::-webkit-scrollbar {
    width: 7px;     /* Tamaño del scroll en vertical */
    height: 4px;
    background: rgba(109, 101, 101, 0.205);
    border-radius: 4px;   
}

.editarProductos::-webkit-scrollbar-thumb:hover {
    background: #2E7D32;
    box-shadow: 0 0 2px 1px rgba(56, 2, 2, 0.2);
}


.ordererAdmin{
    height: 65px;
    display: flex;
    direction: row;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
    background-color: #F9F9F9; 
    border-radius: 4px;
    border: 1px rgba(0, 0, 0, 0.308) solid;
    
}
.ordererAdminEdit{
    height: 65px;
    display: flex;
    direction: row;
    justify-content: space-evenly;
    padding: 4px;
    margin: 5px;
    border-radius: 4px;
    border: 1px rgba(0, 0, 0, 0.308) solid;
    
}

.subirImagenesGaleria{
    border: rgba(97, 93, 93, 0.301) 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;      
}

.imagenAdminDiv{ 
    width: 15%;
    padding: 2px;
    margin: 2px;
    margin-bottom: 2px;
}

.imagenAdmin{
    width: 45px;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.adminButtonED{
    width: 40px;
    margin-top: 2px;
   
    
}

.datosProductoAdmin label{
   display: flex;
   direction: column;
   justify-content: flex-start;
   width: 400px;
   margin-top: 10px;
}
.datosProductoAdmin select{
    width: 400px;
    margin-bottom: 10px;
    
}
.datosProductoAdmin input{
    width: 400px;
    
}

.editarImagenesAdmin{
    margin-top: 5%;
    margin-bottom: 150px;
   
}


@media (max-width: 1300px){
    .levelAdminMaterialEdit{
        width: 50px;
    }
    
    .levelAdminMaterialEdit Select{
        width: 50px;
    }
    
}

@media (max-width: 1024px ) {
    .formsAdmin{
        padding-top: 3%;
        width: 80%;
        margin-left: 22%;
        display: flex;
        flex-direction: column;
         
   }
   .formNombre{
    margin-top: 1%;
    width: 600px;
    margin-bottom: 30px;
    display: flex;
   }
}

@media (max-width: 640px){
    .adminButtonED{
        width: 10px;
    }
}