.adminContenedor{
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: block; 
       
}

.formsAdminExterno{
    width: 100%;
    margin: auto;
    padding-bottom: 30px;  
    margin-bottom: 50px;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px;
    /* display: block; */
    
}

.productoAdmin{
    align-items: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border: 1px rgba(145, 145, 151, 0.397) solid;
    border-radius: 4px;
}


.levelAdminMaterial{
    width: 400px;
}
.levelAdminMaterial Select{
    width: 400px;
}
.labelAdminButtons{
    align-items: center;
}
.buttonAdmin{
    background-color: #4da45f;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    align-self: flex-start;
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 10px;
    margin-right: 10px;
}
.buttonAdmin:hover{
    background-color: #306d3c;
    border: 0.5px rgba(168, 162, 162, 0.418) solid; 
}

.editarProductos{
    border: rgba(97, 93, 93, 0.301) 1px solid;
    border-radius: 4px;
}
.ordererAdmin{
    display: flex;
    direction: row;
    justify-content: space-evenly;
    padding: 15px;
    margin: 20px;
    background-color: rgba(180, 174, 174, 0.048); 
    border-radius: 4px;
    
}
.imagenAdminDiv{
    width: 30%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
      

}

.imagenAdmin{
    width: 170px;
    margin-bottom: 15px;
}
.datosProductoAdmin{
    width: 60%;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.datosProductoAdmin label{
   display: flex;
   direction: column;
   justify-content: flex-start;
   width: 400px;
   margin-top: 10px;
}
.datosProductoAdmin select{
    width: 400px;
    margin-bottom: 10px;
    
}
.datosProductoAdmin input{
    width: 400px;
    
}

.editarImagenesAdmin{
    margin-top: 5%;
    margin-bottom: 150px;
}

@media (max-width: 1024px ) {
    .formsAdmin{
        padding-top: 3%;
        width: 80%;
        margin-left: 22%;
        display: flex;
        flex-direction: column;
         
   }
   .formNombre{
    margin-top: 1%;
    width: 600px;
    margin-bottom: 30px;
    display: flex;
   }
}