.wrapper {
  margin: auto;
  margin-top: 7%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 47vw;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
}
.icon_decoration {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  background-color: #d4b518;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}
.icons_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 47%;
  align-self: flex-start;
}
.icons_container h2 {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: #d4b518;
}
.icons_container i {
  width: 100%;
  margin: 0.7rem;
  color: white;
  display: flex;
}
.form_container {
  height: 97%;
  width: 47%;
}
.form_container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 97%;
  align-items: center;
  width: 97%;
}
.form_container form input,
textarea {
  width: 97%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.form_container form textarea {
  height: 5.7rem;
}
.form_container form label {
  align-self: flex-start;
}
.form_container form button {
  background-color: #d4b518;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  align-self: flex-start;
  margin: 0.7rem;
}
.form_container form button:hover {
  background-color: #c3a71c;
}
/* .form_container form input {

} */
