.CoursesDiv{
    display: flex;
    height: 420px;
    flex-wrap: wrap;
    justify-content: space-around
}

.linksDivs{
    width: 600px;
    height: 400px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

}


.imgCourses {
    width: inherit;
    height: inherit;
    border-radius: 20px;
    object-fit: cover;
}

.figCourses {
    width: 550px;
    height: 350px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.figCourses:hover {
    
    width: 570px;
    height: 370px;
    -webkit-box-shadow: -4px -9px 131px -27px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -4px -9px 131px -27px rgba(0, 0, 0, 0.54);
    box-shadow: -4px -9px 131px -27px rgba(0, 0, 0, 0.54);
}