.navbar {
  margin-top: 0px;
  margin: 5px;
  background: #f9f9f9;
  padding: 2px;
  height: 90px;
  
}
.navlist {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logoMachi {
  margin: 0px;
}
.navlink {
  color: gray;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navlink:hover {
  color: #000000;
}
