.search{
  /* border: black solid 1px; */
  margin: auto;
  border-radius: 15px;
  /* box-shadow: 0 0 20px 50px rgba(45, 216, 29, 0.055), 0 15px 50px rgb(0, 0, 0); */
  /* box-shadow: 0 0 0 10px #fff, 0 15px 50px; */
}

.input{

  background-color: transparent;
    flex-grow: 3;
    color: rgb(102, 99, 99);
    background-color: white;

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
    border-width: 1px;
    border-color: rgba(124, 109, 109, 0.274);
    border-radius: 15px 0 0 15px;
}

.lupa{
    color: rgb(77, 84, 151);

    background-color: transparent;
    padding: 9px;
    padding-left: 8px;
    padding-right: 16px;
  
    border-width: 1px;
    border-color: rgba(124, 109, 109, 0.274);
    border-radius: 0 15px 15px 0;
        
    cursor: pointer;
}