.search{
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.input{

  background-color: transparent;
    flex-grow: 3;
    color: rgb(102, 99, 99);
    background-color: white;

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
    border-width: 1px;
    border-color: rgba(124, 109, 109, 0.274);
    border-radius: 15px 0 0 15px;
}

.lupa{
    color: rgb(77, 84, 151);

    background-color: transparent;
    padding: 9px;
    padding-left: 8px;
    padding-right: 16px;
  
    border-width: 1px;
    border-color: rgba(124, 109, 109, 0.274);
    border-radius: 0 15px 15px 0;
        
    cursor: pointer;
}