.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    height: 100%;
    font-size: 20px;
    margin: 35px;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px;
    text-shadow: 1px 3px 9px rgb(17, 88, 64); 
    position: relative;
}

.parrafo{
    width: 90%;
    margin-top: 40px;
    text-justify: auto;
    text-align: justify;
    text-shadow: 1px 3px 9px rgb(17, 88, 64); 
}

.serviciosImg{
    width: 60%;
    margin: 40px;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px;
}



/* .pdf{
    margin-top: 70px;
    margin-bottom: 80px;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px rgb(17, 88, 64);
    position: relative;
} */